.Menu{
    text-align: center;
    background-color: rgb(219, 139, 139);
    height: auto;
}
.nav-menu{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 25px;

}

.nav-links:hover{
    text-shadow: rgb(238, 243, 248) 0 0 25px;
    color:white;
}

.NavbarItems{
    padding-bottom: 20px;
    padding-top: 20px;
}
.nav-menu a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;

}
.nav-menu{
    list-style-type: none;
}
